@import url('https://fonts.googleapis.com/css?family=Chilanka|Work+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(211, 208, 203, 0.5);
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    font-family: 'Helvetica', sans-serif;
    margin-left: 1rem;
}

h3 {
    font-family: 'Helvetica', sans-serif;
    margin-left: 1rem;
}

img {
    width: 100%;
}

.content {
    max-width: 60%;
    margin: auto;
    background-color: #F2EEE8;
    border-color: teal;
}

.footer {
    padding: 10px;
    bottom: 0;
    width: auto;
    height: 80px;
    background-color: #FFBB1E;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
}

header{
    width: 100%;
    height: 80px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.divider {
    width: auto;
    height: 100px;
}

.divider h1 {
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    margin: auto;
    width: 50%;
    padding-top: 45px;
}

.divider p {
    font-family: 'Helvetica', sans-serif;
    font-size: 36px;
    text-align: center;
    margin: auto;
    padding-top: 30px;
}

.blurb {
    margin-left: 5rem;
    margin-right: 5rem;
    font-family: 'Helvetica', sans-serif;
    padding-bottom: 40px;
}

.banner{
    width: 100%;
    height: 65%;
    background-color: #FFBB1E;
    border-bottom: 1.5px solid rgba(209, 155, 31, 0.5);
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.banner h1{
    margin: auto;
    vertical-align: middle;
    font-family: 'Chilanka', cursive;
    padding: 10px;
    width: 30%;
}

.banner div{
    float: left;
    padding: 15px 0 0 0;
    display: block;
}

.navbar{
    background-color: #C1BEBA;
    overflow: hidden;
    font-family: 'Work Sans', sans-serif;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    float: left;
    padding: 14px 16px;
}

.cart button {
    float: right;
}

.cart button img {
    padding: 10px;
}

.cart button img:hover {
    cursor: pointer;
}

.drop {
    float: left;
    overflow: hidden;
}

.drop-btn {
    border: none;
    outline: none;
    font-family: inherit;
    margin: 0;
    background-color: inherit;
    padding: 14px 16px;
    font-size: inherit;
}

.navbar a:hover, .drop:hover .drop-btn{
    background-color: #FFBB1E;
}

.drop-links {
    display: none;
    position: absolute;
    z-index: 1;
}

.drop-links a {
    float: none;
    display: block;
    background-color: #C1BEBA;
    text-align: left;
}

.drop-links a:hover{
    background-color: #FFBB1E;
}

.drop:hover .drop-links {
    display: block;
}

.flexy {
    display: flex;
}

.flexy main {
    flex-basis: 45%;
    padding: 0 6px 6px 6px;
}

.flexy main img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 2px;
}

.flexy section {
    flex-basis: 55%;
    margin-left: 1rem;
}

.flexy section h1 {
    font-family: 'Chilanka', cursive;
    font-size: 32px;
    font-weight: bold;
}

.flexy section p {
    font-family: 'Chilanka', cursive;
    font-size: 20px;
}

.flexy-cart {
    display: flex;
    font-family: 'Chilanka', cursive;    
    margin-left: 1rem;
    padding: 5px;
}

.flexy-cart main {
    flex-basis: 60%;
}

.flexy-cart section {
    flex-basis: 20%;
    text-align: center;
}

.flexy-cart section:last-child {
    flex-basis: 20%;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    justify-items: center;
    align-items: center;
    padding: 25px 0 25px 0;
}

.product-image img {
    width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 300px;
    max-height: 300px;
}

.product {
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.product-info {
    display: block;
    padding: 10px;
}

.product-name {
    font-size: 20px;
}

.product-price {
    font-size: 16px;
}

.search{
    float: right;
    padding-right: 5px;
}

input{
    font-family: 'Work Sans', sans-serif;
    border: none;
    border-bottom: 0.5px solid black;
    background-color: #D3D0CB;
    font-size: 12px;
    height: 22px;
}

input:focus {
    background-color: white;
    width: 200px;
}

button{
    border: none;
    background-color: #D3D0CB;
    font-size: 12px;
}

button img {
    width: 30px;
    height: auto;
}

.add {
    background-color: rgb(255, 187, 30);
    font-size: 14px;
    padding: 8px;
    border-radius: 10px;
    text-transform: uppercase;
}

.search button:hover{
    color: #d19b1f;
}

#main{
    padding-top: 15%;
}

body .itm-lrg-area{
    width: 20%;
    padding: 5px;
    background-color: lightpink;
    text-align: center;
    height: 200px;
    box-sizing: border-box;
}

body .itm-lrg-area .prdct-area{
    background-color: lightyellow;
    height: 100%;
    box-sizing: border-box;
}

body .itm-lrg-area .prdct-area .prdct-img{
    background-color: lightseagreen;
    width: 50%;
    height: 100px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

body .itm-lrg-area .prdct-area .prdct-info{
    background-color: lightskyblue;
    padding: 5px;
}
body .itm-lrg-area .prdct-area .prdct-price{
    background-color: lightsalmon;
    padding: 5px;
}

.shopping-cart {
    width: 0;
    height: 100%;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    transition: 0.2s;
}

.shopping-cart a {
    font-size: 40px;
    font-weight: 600;
    padding: 3px;
}

.title {
    height: 5%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove {
    border-bottom: 1px solid #E44C4C;
    color: #E44C4C;
    font-weight: 600;
    cursor: pointer;
}

.cart-item {
    margin: auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.image-box {
    display: block;
    width: 10%;
}
   
.description {
    height: 100%;
}

.quantity {
    display: flex;
    width: 15%;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: #d9d9d9;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
}

.count {
    font-size: 20px;
    font-weight: 600;
}

.prices {
    height: 100%;
    text-align: right;
}

.amount {
    font-size: 20px;
    font-weight: 700;
}

hr {
    width: 66%;
    float: right;
    margin-right: 5%;
}

.checkout {
    width: 28%;
    float: right;
    margin-right: 5%;
}

.total {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.subtotal {
    font-size: 22px;
    font-weight: 700;
}

.items {
    font-size: 16px;
    font-weight: 500;
    color: #909090;
    line-height: 10px;
}

.total-amount {
    font-size: 28px;
    font-weight: 800;
}

.checkout-btn {
    margin-top: 5%;
    width: 100%;
    height: 35px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 187, 30);
}

@media only screen and (min-width: 768px){
    header{
        height: 90px;
    }
    .banner p{
        font-size: 25px;
    }
    .navbar{
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .navbar ul li a{
        font-size: 13px;
    }
    input{
        font-size: 13px;
    }
    button{
        font-size: 13px;
    }
}

@media only screen and (min-width: 1000px){    
    header{
        height: 100px;
    }
    .banner p{
        font-size: 30px;
    }
    .navbar{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .navbar #nav-toggle{
        display: none;
    }
    .navbar ul{
        padding: 0;
        margin: auto;
        display: block;
    }
    .navbar ul li{
        float: left;
        font-size: 14px;
        list-style: none;
        padding: 9px 15px;
    }
    .navbar .search{
        padding: 9.5px 15px;
    }
    input{
        font-size: 14px;
    }
}